include README.md
include manifest.json
include requirements.txt
recursive-include examples *
recursive-include floes *.py
recursive-include MDCubes *.py
recursive-include LigPrepCubes *.py
recursive-include YankCubes *.py
recursive-include ComplexPrepCubes *
recursive-include TrjAnalysisCubes *
recursive-include Standards *
recursive-include ProtPrepCubes *
recursive-include ForceFieldCubes *
recursive-include tests *
recursive-include MDOrion *