include manifest.json
include README.md
include requirements.txt
include env.yaml

recursive-include ComplexPrepCubes *
recursive-include floes *.py
recursive-include ForceFieldCubes *
recursive-include LigPrepCubes *.py
recursive-include MDCubes *.py
recursive-include MDOrion *
recursive-include ProtPrepCubes *
recursive-include Standards *
recursive-include tests *
recursive-include TrjAnalysisCubes *
recursive-include YankCubes *.py
recusrive-include oecubeutils *.py






