# PIP
invoke==1.2.0
pip==18.0
pytest==3.6.1
six==1.11.0
wcwidth==0.1.7

# OE Stack
OpenEye-Artemis==0.3.2
OpenEye-ensemble2img==0.1.1
OpenEye-floereport==0.1.2
OpenEye_oetrajanalysis==0.1.4.3
OpenEye-orionplatform==0.1.12
Openeye-toolkits==2018.2.1
